@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Signika:wght@300..700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One';
}

/* GLOBAL */

.row {
  width: 100%;
  max-width: 1024px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


/* NAV */

nav {
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  background-image: linear-gradient(to left top, #3e5f6a, #3e606b, #3e616c, #3e626e, #3e636f, #3f6470, #3f6471, #406572, #426672, #446773, #456873, #476974);
  background-position: 25% 25%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;
}

.nav__item {
  color: #D0DDD0;
}


/* LANDING */

#landing {
  width: 100%;
  height: 100vh;
  background-color: #E5E5E5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__title {
  font-size: 12rem;
  line-height: 9.5rem;
  letter-spacing: -.55rem;
  background-image: linear-gradient(to left top, #3e5f6a, #416470, #446976, #476f7d, #4a7483, #4a7887, #4a7d8b, #4a818e, #48868f, #488b8f, #498f8f, #4c948d);
  background-size: 100vw 40vh;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.landing__subtitle {
  font-size: 2rem;
  line-height: 2.3rem;
  background-image: linear-gradient(to left top, #3e5f6a, #416470, #446976, #476f7d, #4a7483, #4a7887, #4a7d8b, #4a818e, #48868f, #488b8f, #498f8f, #4c948d);
  background-size: 100vw 40vh;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  width: 250px;
  left: 58.5vw;
  top: 33.8vh;
}


/* PROJECTS */

#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left top, #3e5f6a, #416470, #446976, #476f7d, #4a7483, #4a7887, #4a7d8b, #4a818e, #48868f, #488b8f, #498f8f, #4c948d);
}