@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Signika:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Signika:wght@300..700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Averia Serif Libre';
}

/* GLOBAL */

.row {
  width: 100%;
  max-width: 932px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.title__orange {
  color: #FBB957;
}

.title__green {
  color: #A2CE73;
}


/* NAV */

nav {
  z-index: 3;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  color: #393a39;
  background-color: white;
}

.nav__logo {
  font-size: 1.4rem;
}

nav div {
  display: flex;
}

.nav__item:not(:last-child) {
  margin-right: 48px;
}


/* LANDING */

#landing {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.landing__title--container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.landing__title {
  font-size: 5rem;
  line-height: 5.5rem;
  letter-spacing: -.25rem;
  color: #393a39;
  z-index: 1;
}

.landing__subtitle {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.2rem;
  color: #393a39;
  z-index: 1;
}

.landing__button {
  font-size: 1.2rem;
  color: white;
  background-color: #FBB957;
  padding: 12px 28px;
  margin-top: 24px;
  cursor: pointer;
  border-radius: 4px;
}


/* PROJECTS */

#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
}