@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Mono+One&family=Signika:wght@300..700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Rubik Mono One';
}

/* GLOBAL */

.row {
  width: 100%;
  max-width: 932px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}


/* NAV */

nav {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translate(-50%);
  height: 50px;
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 8px;
  color: #393a39;
}

.nav__item:not(:last-child) {
  margin-right: 48px;
}


/* LANDING */

#landing {
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.landing__title--container {
  background: rgb(218, 219, 215);
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

canvas {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 0;
}

.landing__title {
  font-size: 6.5rem;
  line-height: 7rem;
  letter-spacing: -.25rem;
  color: #393a39;
  z-index: 1;
}

.landing__subtitle {
  font-size: 2.25rem;
  line-height: 2.3rem;
  letter-spacing: 0.5rem;
  color: #393a39;
  z-index: 1;
}

.landing__hero--container {
  width: 100%;
  height: calc( 60% - 80px );
  display: flex;
  align-items: center;
  justify-content: center;
}


/* PROJECTS */

#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left top, #3e5f6a, #416470, #446976, #476f7d, #4a7483, #4a7887, #4a7d8b, #4a818e, #48868f, #488b8f, #498f8f, #4c948d);
}